* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

.page-title-span{
	margin-left: 10px;
}

/* LOGIN SECTION */
  .login-cover {
    background: #fff;
    background-image: url("images/Pets.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #loginProgress{
  	display: none;
  }