<!DOCTYPE html>
<html lang="en">
	<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>My Pet</title>
    <!-- font family - google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/dialog-polyfill.css" />
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
  <style>
    input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{border-bottom: 1px solid #D25349;}
    input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty{border-bottom: 2px solid #019739;}
  </style>
  <script src="angular.min.js"></script>
  <script src="angular-messages.min.js"></script>
  <script src="materialize/js/jquery-latest.js"></script>
  <script src="materialize/js/materialize.min.js"></script>
  <script>
    angular.module('messages', ['ngMessages']);
  </script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="dialog-polyfill.js"></script>

    <!-- main stylesheet -->
    <link rel="stylesheet" href="css/style.css" />  


      <!-- Fijar foto de fondo  -->
 


	</head>
	<body ng-app="messages">



    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header">
          <div class="mdl-layout-icon"></div>
          <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">My Pet
              <span class="page-title-span"> | </span>
              <span class="page-title-span"> Home </span>
            </span>
            <div class="mdl-layout-spacer"></div>
            

            

            
          </div>
        </header>
        
        <div class="container">
            <h3>Datos de su mascota</h3>
          <form name="registro" novalidate>
            <div class="row">
              <section class="input-field col s12 m6">
                <label for="nombreM">Nombre:</label>
                <input type="text" ng-model="data.nombreM" id="nombreM" name="nombreM" required pattern="[ñáéíóúA-Za-z ]+">
                <div ng-messages="registro.nombreM.$error" ng-messages-include="errores.html" ng-hide="registro.nombreM.$pristine"></div>
              </section>
              <section class="input-field col s12 m6">
                <label for="edad">Edad (en años y meses):</label>
                <input type="text" ng-model="data.edad" id="edad" name="edad" required>
                <div ng-messages="registro.edad.$error" ng-messages-include="errores.html" ng-hide="registro.edad.$pristine"></div>
              </section>
            </div>

            <div class="row">
              <section class="input-field col s12">
                <label for="historia">Cuentanos sobre tu mascota:</label>
                <textarea class="materialize-textarea" id="historia" ng-model="data.historia" maxlength="6" name="historia" required pattern="[ñáéíóú,.\w ]+"></textarea>
                <div ng-messages="registro.historia.$error" ng-messages-include="errores.html" ng-hide="registro.historia.$pristine"></div>
              </section>
            </div>

            <div class="row">
              <section class="input-field col s12">
                <label for="adoptado">¿Tu mascota es adoptado? ¿cuentanos donde?:</label>
                <textarea class="materialize-textarea" id="adoptado" ng-model="data.adoptado" name="adoptado" required pattern="[ñáéíóú,.\w ]+"></textarea>
                <div ng-messages="registro.adoptado.$error" ng-messages-include="errores.html" ng-hide="registro.adoptado.$pristine"></div>
              </section>
            </div>


          <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>Fotos</span>
                <input type="file" value="upload" id="btnUpload" multiple/>
              </div>
              <div class="file-path-wrapper">
              </div>
            </div>
          </div>
          

          <br></br>

            <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light" id="formularioMascotaBtn" >Confirmar
              <i class="mdi-content-send right"></i>
            </button>
          </form>
  </div>
</div>

  <script src="js/formulario.js"></script>

<!-- INGRESAR LAS FOTOS -->
<script>
  var cedula=localStorage.getItem("cedula");
  btnUpload.addEventListener('change',function(e) {
      //var user = firebase.auth().currentUser;

      var file = e.target.files;
    var cont = 0;
    //var file = $("#file").val();

      for(var i=0; i<e.target.files.length; i++){
        cont++;
      }
        if(cont>3)
        {
          alert("no puede subir ams de 3 fotos");
        }
        else
        {
          for(var i=0; i<e.target.files.length; i++)
          {
            var storageRef = firebase.storage().ref('fotos/'+cedula+'/'+file[i].name);
            storageRef.put(file[i]);
          }
        }
  });
</script>


    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBKoIyHt8cIHy2C1ir7gxLSOoB4Sz-IFdk",
      authDomain: "miniproyecto1.firebaseapp.com",
      databaseURL: "https://miniproyecto1.firebaseio.com",
      storageBucket: "miniproyecto1.appspot.com",
      messagingSenderId: "1004216342011"
    };
    firebase.initializeApp(config);
  </script>

  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="index.js"></script>

</body>
</html>